@import "./variables.css";

.item{
  font-size: var(--textSize);
  color: white;
  min-height: 50px;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  border: var(--borderThickness) solid var(--colorYellow);
  border-radius: var(--borderRadius);
  font-family: orbitron,sans-serif;
  font-weight: 700;
  padding: 10px;
}

.item:hover{
  background: rgba(255, 255, 0, 0.7)
}

.itemDone{
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--colorYellow);
}

.custom-button{
  height: 25px;
  width: 60px;
  background-color: var(--colorYellow);
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
}
.custom-button:hover{
  background-color: var(--colorGreen);
  color: white;
}

.buttons{
  display: flex;
}

.modalItem{
  font-size: var(--textSize);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: var(--borderThickness) solid var(--colorYellow);
  border-radius: var(--borderRadius);
  font-family: orbitron,sans-serif;
  padding: 10px;
}