@import "./variables.css";

.itemsContainer{
  padding: 10px;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: var(--borderThickness) var(--colorYellow) solid;
  border-radius: var(--borderRadius);
  font-family: orbitron,sans-serif;
  margin: 15px;
}

.newTask{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  min-height: 50px;
  min-width: 250px;
  font-size: var(--textSize);
  color: white;
  border: var(--borderThickness) var(--colorGreen) solid;
  border-radius: var(--borderRadius);
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}

.newTask:hover{
  border: var(--borderThickness) var(--colorYellow) solid;
  background: rgba(255, 255, 0, 0.7);
}
