@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

:root {
  --borderThickness: 5px;
  --borderRadius: 20px; 
  --colorYellow: #fe0;
  --colorGreen: #1aa00b;
  --textSize: 13px;
}